/* gloabal font-family classes*/

.font-gent {
  font-family: $font-gent;
}
.font-sans-light {
  font-family: $font-sans;
  font-weight: 300;
}
.font-sans-bold {
  font-family: $font-sans;
  font-weight: 700;
}
.font-sans-Ebold {
  font-family: $font-sans;
  font-weight: 800;
}

/* gloabal font-size classes*/

.font-12 {
  font-size: 1.2rem;
}
.font-14 {
  font-size: 1.4rem;
}
.font-16 {
  font-size: 1.6rem;
}
.font-17 {
  font-size: 1.7rem;
}
.font-22 {
  font-size: 2.2rem;
}
.font-24 {
  font-size: 2.4rem;
}
.font-28 {
  font-size: 2.8rem;
}
.font-32 {
  font-size: 3.2rem;
}
.font-38 {
  font-size: 3.8rem;
}
.font-52 {
  font-size: 5.2rem;
}

/* Global Color Classes */

.color-primary {
  color: $color-primary;
}
.color-second {
  color: $color-second;
}
.color-primary-bg {
  background: $color-primary;
}
.color-second-bg {
  background: $color-second;
}

.gradient-primary {
  color: $gradient-primary;
}
.gradient-second {
  color: $gradient-second;
}
.gradient-primary-bg {
  background: $gradient-primary;
}
.gradient-second-bg {
  background: $gradient-second;
}

.p-color-1 {
  color: #99a0a7;
}
