.header {
  border-top: 2px solid red;
  padding-top: 1.2rem;
  .banner {
    padding-top: 20rem;
    .banner-text {
      h1 {
        background: $gradient-primary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      input {
        background: #4a515b;
        border: none;
        padding: 0.7rem 10rem 0.7rem 2rem;
      }
      button {
        padding: 0.7rem 2rem 0.7rem 2rem;
        border-radius: 4rem;
        margin-left: 2rem;
        &:hover {
          color: $color-second !important;
        }
      }
      .social {
        padding-top: 2rem;
        i {
          color: $color-primary;
          transition: 0.6s linear;
          font-size: 2.5rem;
          margin-right: 1rem;
          padding: 1rem;
          border: 2px solid $color-primary;
          border-radius: 50%;
          &:hover {
            background: $gradient-primary;
            color: black !important;
          }
        }
      }
    }
  }
}
